body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  padding: 16px 8px;
}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  /*Padding and margin sizes both can be treated like a list in that they can scale in both directions on one line rather than the four lines I had initially set up*/
  padding: 8px 24px;
  display: block;
  /*margin: 0 auto; was the one thing I couldn't quite figure out as I was overcomplicating it to align the button itself in the center of the text*/
  margin: 0 auto;
}